li{
    list-style: none;
}
form{
    width: 500px;
    margin: 20px auto 0 auto;
}
.box-answer{
    margin-left: 15px;
}
.box-answer input{
    margin-right: 10px;
}
.box-submit{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.btn{
    margin: 5px;
}